CompileFlags:
  Add: 
    - -Irpmalloc/rpmalloc
    - -IuSockets/src 
    - -std=c++23
    - -DBITSCPP_BYTE_WRITER_V2_BT_TYPE=icon7::ByteBufferWritable
    - -DBITSCPP_BYTE_WRITER_V2_NAME_SUFFIX=_ByteBuffer
